<%- include("partials/header") -%>

<div class="container">
    <div class="back">
        <button class="btn btn-dark back-btn" onclick="history.back()">Back <i class="fa fa-arrow-left" aria-hidden="true"></i></button>
    </div>
    <center>
        <img src="images/pic1.jpg" height="300" width="300" class="image">
    </center>
    <h2 class="about-content">
        This is a webapp created by Jatin Teckchandani using HTML, CSS, Javascript, Bootstrap, jQuery, Node.js, Express.js and MongoDB. If you would like to view my portfolio <a href="https://jatin11499-portfolio.herokuapp.com/" target="_blank" class="portfolio"> click here</a>.
        <br>
        <center>My social media accounts:</center>
        <center>
            <a class="fa fa-twitter social" aria-hidden="true" href="https://twitter.com/JatinTeckchand1" target="_blank"></a>
            <a class="fa fa-linkedin social" aria-hidden="true" href="https://www.linkedin.com/in/jatin-teckchandani-072523172/" target="_blank"></a>
            <a class="fa fa-facebook-official social" aria-hidden="true" href="https://www.facebook.com/jatin.teckchandani" target="_blank"></a>
            <a class="fa fa-instagram social" aria-hidden="true" href="https://www.instagram.com/jatin_teckchandani/?hl=en" target="_blank"></a>
            <a class="fa fa-github social" aria-hidden="true" href="https://github.com/Jatin11499?tab=repositories" target="_blank"></a>
        </center>
    </h2>
</div>

</body>
</html>