<%- include("partials/header") -%>

<div class="container-fluid main">
    <div class="centered">
        <h1 class="index-h1">Welcome to All in One App</h1>
        <h3>One App for your every need!</h3>
        <a class="btn btn-dark btn-lg" href="/register" role="button">Register</a>
        <a class="btn btn-dark btn-lg" href="/login" role="button">Login</a>
    </div>
</div>
</body>
</html>